.header
  .toppart
    .logo
      = link_to image_tag("logo.png"),"index"
    .topright
      .top-icons
        = link_to "", user_omniauth_authorize_path(:twitter),class: "twitticon"
        = link_to "",user_omniauth_authorize_path(:facebook),:class => "facebookicon"
        = link_to "",user_omniauth_authorize_path(:linkedin),:class => "inicon"
        = link_to "","#",:class => "shareicon"
        .cl
      -if user_signed_in?
        .myac
          = link_to t('header.my_account'),"#",:onclick => "showHide();"
        #toolTipBox.tooltipMessage.ac-box{:style => " display:none;"}
          %ul
            %li= link_to t('header.edit_account'),"/users/profile_edit"
            %li= link_to t('header.saved_profile'),"/users/profile_view"
            %li= link_to t('header.signout'), destroy_user_session_path,class: "last",method: :delete
    .cl
