.header
  .toppart
    .logo
      = link_to image_tag("logo.png"),"index"
    .topright
      .top-icons
        = link_to "","#",:class => "twitticon"
        = link_to "","#",:class => "facebookicon"
        = link_to "","#",:class => "inicon"
        = link_to "","#",:class => "shareicon"
        .cl
      .myac
        = link_to "My Account","#",:onclick => "showHide();"
      #toolTipBox.tooltipMessage.ac-box{:style => " display:none;"}
        %ul
          %li= link_to "Edit Account","#"
          %li= link_to "Saved Profiles","#"
          %li= link_to "Sign Out","#",:class=>"last"
    .cl
  .edit-topsearch
    .leftbt
      %h3 Why You Need Me
      in  65 characters or less...
    .rightinput
      = yield(:status_desc)
    .cl
    .rem-text 65 characters remaining
