.darkBox.mrB17
  %h4 #{t 'profile.network.networks'}
  %p #{t 'profile.network.connect_with_hireinfluence'}
  %ul.networksList
    - [:twitter, :facebook,:linkedin].each do |provider|
      %li
        %label
          = image_tag("#{provider.to_s}_large.png",:border=> "0")
          = "#{provider.to_s.capitalize}"
        - if @providers.include?(provider.to_s)
          %span.connectLink
            = t 'profile.network.connected_as'
            - case provider.to_s
            - when 'twitter'
              - session[:screen_name] = (session[:screen_name].blank?)? "#{Authentication.find_by_provider_and_user_id("twitter",session["warden.user.user.key"][1][0]).screen_name}" : "#{session[:screen_name]}"
              \#{link_to "@#{session[:screen_name]}","#{t 'profile.network.twitter.link'}#{session[:screen_name]}",:target=>"_blank"}
              - if session[:signed_in_with] != provider.to_s
                =# link_to "Unlink","/users/profile/unlink",:class => "unlink"
            - when 'facebook'
              \#{link_to FbGraph::User.me(Authentication.find_by_provider(:facebook).token).fetch.name,"#{t 'profile.network.fb.link'}#{Authentication.find_by_provider(provider).uid}",:target=>"_blank"}
              = link_to "#{t 'profile.network.unlink'}","/users/profile/unlink?provider=#{provider.to_s}",:class => "unlink"
            - when 'linkedin'
              = link_to "#{@lin_name}",session["publicProfileUrl"],:target=>"_blank"
              = link_to "#{t 'profile.network.unlink'}","/users/profile/unlink?provider=#{provider.to_s}",:class => "unlink"
              %br
            -else
              %a.btnOrg{:href => user_omniauth_authorize_path(provider)}
                %span #{t 'profile.network.connect_now'}
        - else
          %a.btnOrg{:href => user_omniauth_authorize_path(provider)}
            %span #{t 'profile.network.connect_now'}
.darkBox
  %h4
    = t 'profile.network.influence_scoring'
    \#{image_tag("help.png",:size=> "16x16",:class => "help")}
  %p #{t 'profile.network.connect_with_hireinfluence'}
  %ul.networksList
    %li
      %label
        = image_tag("k_icon_large.png",:border => "0")
        = t 'profile.network.klout.label'
      - if session["klout_score"].nil?
        %span
          %a.btnOrg{:href => "/users/klout_score"}
            %span
              #{t 'profile.network.connect_now'}
      - else
        %span.connectLink
          = t 'profile.network.connected_as'
          = link_to session[:screen_name],"#{t 'profile.network.klout.link'}#{session[:screen_name]}",:target => "_blank"

    %li
      %label
        = image_tag("kr_large.png",:border => "0")
        #{t 'profile.network.kred.label'}
      - if session["kred_influence"].nil? && session["kred_outreach"].nil?
        %span
          %a.btnOrg{:href => "/users/kred_score"}
            %span
              #{t 'profile.network.connect_now'}
      - else
        %span.connectLink
          #{t 'profile.network.connected_as'}
          = link_to session[:screen_name],"#{t 'profile.network.kred.link'}#{session[:screen_name]}",:target => "_blank"
    %li
      %label
        = image_tag("3circl_large.png",:border => "0")
        #{t 'profile.network.peerindex.label'}
      - if session["peerindex"].nil?
        %span
          %a.btnOrg{:href => "/users/peerindex"}
            %span
              #{t 'profile.network.connect_now'}
      - else
        %span.connectLink
          #{t 'profile.network.connected_as'}
          = link_to session[:screen_name],"#{session["peerindex_url"]}",:target => "_blank"