.profilePicture
  %span.profileBg
    = image_tag("profile_img.png",border: "0")
.welcomePart
  %h2.title #{@user_profile.fullname}
  .profilebox
    .profile-det
      .profile-name
        #{t 'profile.email'}:
        %br/
      .profile-detail
        %span
          = link_to "/",class:  "btnOrg" do
            %span #{t 'profile.view.contact_now'}
    .profile-det
      .profile-name #{t 'profile.position'}:
      .profile-detail
        - if !@user_positions.blank?
          - @user_positions.each do |user_pos|
            .checktab
              = check_box_tag("name",'','',checked: 'true')
              = user_pos.position.title
    .profile-det
      .profile-name
        #{t 'profile.location'}:
        = image_tag("help.png",size: "16x16", class: "help")
      .profile-detail New York City, NY 12345
    .profile-det
      .profile-name #{t 'profile.distance'}:
      .profile-detail 7 Miles
    .profile-det
      .profile-name #{t 'profile.industry'}:
      .profile-detail
        - @user_profile.user_industries.each do |user_industry|
          = user_industry.industry.title
.rightExperience
  .darkBox.mrB10
    %h6.mrB8 #{t 'profile.experience'}
    - if !@departments.nil?
      - @departments.each do |d|
        %span.listRow
          %span.labeLeft
            %label{:class => cycle("btnBlue", "btnOrange","btnSlate")}= d.title      #Added By Chetan
            = link_to "","#",:class => "help mrT3",:title => "Help"
          .yeartext #{@user_profile.user_experiences.select{|user_exp| user_exp.department.id == d.id}.first.exp_in_yrs} Years
  .dark-bottom
    .box1 #{t 'profile.resume'}
    .box2
      %span
        = link_to "/users/profile/download?profile=#{@user_profile.id}",class:  "btnOrg" do
          %span #{t 'profile.view.download_resume'}
    .box3
      %em #{t 'profile.view.file_formats'}
