/ Middle part html start here
.edit-topsearch
  .leftbt
    %h3 Why You Need Me
    in  65 characters or less...
  .rightinput
    %span #{@user_profile.description}
  .cl
.middlebg
  .print-text #{t 'profile.view.printable_version'}
  .profileEdit.mrB15
    = render :partial => 'user_profile'
  .cl
  .profileContent
    .leftContent
      = image_tag("text-img.jpg",size: "558x1086")
      .peerindex-box
        %p
          = image_tag("peer-index.jpg",size: "106x39")
        .threebox
          .p-one
            %h2
              #{t 'profile.network.peerindex.overall_score'}
              = image_tag("help.png",size: "16x16",class: "help")
            .ylobox
              #{t 'profile.network.peerindex.peerbox'}
              %h1 #{current_user.peerindex_count.value}
          .p-two
            %h2
              #{t 'profile.network.peerindex.score_breakdown'}
              = image_tag("help.png",size: "16x16",class: "help")
            %ul
              %li
                = image_tag("pink-img.jpg")
                #{t 'profile.network.peerindex.activity'} #{session["activity"]}
              %li
                = image_tag("green-img.jpg")
                #{t 'profile.network.peerindex.audience'} #{session["audience"]}
              %li
                = image_tag("blue-img.jpg.jpg")
                #{t 'profile.network.peerindex.authority'} #{session["authority"]}
          .p-three
            %h2
              #{t 'profile.network.peerindex.score_breakdown'}
              \#{image_tag("help.png",size: "16x16",class: "help")}
            %ul
              %li
                %span> 50
                Peer influence
              %li
                %span> 41
                Enterpreneursh
              %li
                %span> 15
                Social crm
              %li
                %span> 15
                Startups
              %li
                %span> 41
                Economics
    .rightContent
      .rightdarkbox.mrB10
        = render :partial => 'profile_view_right_part'
  .cl
  / MIddle part html end here
