/ Middle part html start here
:javascript
  function changeProfileImg(profileImgUrl){
  	$('.profileImg').html('<img width="162" height="162" src="'+profileImgUrl+'">')
  }

= form_for @user_profile, url: "update_profile", :html => {:multipart => true} do |f|
  .edit-topsearch
    .leftbt
      %h3 #{t('profile.why_me')}
      = t('profile.in_65_chars')
    .rightinput
      = f.text_field(:description,:placeholder => t('profile.status_placeholder_msg'))
    .cl
    .rem-text #{t('profile.chars_remaining', total_chars: 65)}
  .middlebg
    .profileEdit
      = render :partial => 'form',:locals => {:f => f}
    .cl
    .profileContent
      .leftContent
        %h3.title
          #{t('profile.network.linkedin.linked')}
          %img{:alt => "", :border => "0", :height => "27", :src => "/assets/title_in.png", :width => "28"}/
          %span #{t('profile.network.linkedin.recommendations')}
        %p #{t('profile.network.linkedin.max_recommendations_msg')}
        %p
          = flash[:notice]
        %table.linkedinList{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          - if !@recommendations.nil?  # Added By Chetan
            = render :partial => 'recommendation',:collection => @recommendations
        .v-more
          = image_tag("view-wn.jpg")
          = link_to t('profile.network.linkedin.view_more'),"#"
      .rightContent
        = render :partial => 'network_connection'
    = submit_tag("Submit",class: "button")
    .cl
/ MIddle part html end here
