/ Middle part html start here
:javascript
  function changeProfileImg(profileImgUrl){
  	$('.profileImg').html('<img width="162" height="162" src="'+profileImgUrl+'">')
  }
- content_for :status_desc, text_field_tag("textfield3","",:placeholder => "Start typing here...")
.middlebg
  = form_for @user_profile, url: "update_profile", :html => {:multipart => true} do |f|
    .profileEdit
      = render :partial => 'form',:locals => {:f => f}
    .cl
    %input{name: "submit", type: 'submit' }
    .profileContent
      .leftContent
        %h3.title
          Linked
          %img{:alt => "", :border => "0", :height => "27", :src => "/assets/title_in.png", :width => "28"}/
          %span Recommendations
        %p Please select a MAXIMUM of 5 recommendations to be made viewable to employers.
        %p
          = flash[:notice]
        %table.linkedinList{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          - if !@recommendations.nil?  # Added By Chetan
            = render :partial => 'recommendation',:collection => @recommendations
        .v-more
          = image_tag("view-wn.jpg")
          = link_to "View More","#"
      .rightContent
        = render :partial => 'network_connection'
    .cl
/ MIddle part html end here
